{% extends "base.html" %}
{% block title %}Books Ordered Report{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h1>Wholesale Books Database Client</h1>

    <h3>Statement 4 - Report of Books Ordered from {{publisherName}}:</h3>
    <table> 
        <tr>
            <th>Month</th> <th>Year</th> <th>BookID</th> <th>Book Title</th>
            <th>Total Orders</th> <th>Total Quantity</th> <th>Total Order Value</th>
            <th>Total Retail Value</th>
        </tr>
        {% for row in rows %}
            <tr>
                {% for item in row%}
                    <td>
                        {% if item == None %}
                            <!-- empty cell -->
                        {% else %}
                            {{item}}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <form action = "/" method = "GET" > 
        <input type = "submit" value = "Home" > 
    </form>
{% endblock %}