{% extends "base.html" %}
{% block title %}Sales Performance Report{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <h1>Wholesale Books Database Client</h1>

    <h3>Statement 6 - Sales Performance between {{startDate}} and {{endDate}}:</h3>
    <table> 
        <tr>
            <th>Staff ID</th> <th>Name</th> <th>Units Sold</th> 
            <th>Value of Orders</th>
        </tr>
        {% for row in rows %}
            <tr>
                {% for item in row%}
                    <td>
                        {% if item == None %}
                            <!-- empty cell -->
                        {% else %}
                            {{item}}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <form action = "/" method = "GET" > 
        <input type = "submit" value = "Home" > 
    </form>
{% endblock %}